<launch>

  <!-- NOTE: will open tiny window, keyboard presses register when this is in focus -->

  <!-- RIGHT -->
  <include file="$(find picknik_perception)/launch/multi_xtion_calibrate_each.launch">
    <arg name="camera" default="xtion_right" />
    <!-- <arg name="use_keyboard" default="false" /> -->
  </include>

  <!-- LEFT -->
  <include file="$(find picknik_perception)/launch/multi_xtion_calibrate_each.launch">
    <arg name="camera" default="xtion_left" />
    <!-- <arg name="use_keyboard" default="false" /> -->
  </include>


</launch>
