<launch>

  <!-- Load Rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
  	args="-d $(find picknik_perception)/launch/rviz/multi_kinect.rviz" output="screen">
  </node>

  <!-- NOTE: will open two tiny windows... keyboard presses register when this is in focus -->
  <node pkg="keyboard" type="keyboard" name="keyboard_right" />
  <node pkg="picknik_perception" type="tf_keyboard" name="tf_keyboard_right" output="screen">
    <rosparam command="load" file="$(find picknik_perception)/config/tf_kinect_right.yaml"/>
  </node>

  <node pkg="keyboard" type="keyboard" name="keyboard_left" />
  <node pkg="picknik_perception" type="tf_keyboard" name="tf_keyboard_left" output="screen">
    <rosparam command="load" file="$(find picknik_perception)/config/tf_kinect_left.yaml"/>
  </node>

  <!-- Publish world frame -->
  <node pkg="tf" type="static_transform_publisher" name="kinect_right" args="0 0 0 0 0 0 /world /base 25" />

  <!-- Start Kinect2 Bridge -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="base_name" value="kinect2_right" />
  </include>

  <!-- TODO: Make this launch kincec2_bridge on other machine -->

</launch>
