<launch>

  <!-- Start Xtions -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="xtion_right" />
    <arg name="device_id" value="1@0" />
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="false" />
  </include>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="xtion_left" />
    <arg name="device_id" value="2@0" />
    <arg name="depth_registration" value="true" />
  </include>

</launch>
