<launch>

  <!-- Start Xtions -->
  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="xtion_right" />
    <arg name="device_id" value="1@0" />
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="false" />
  </include>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera" value="xtion_left" />
    <arg name="device_id" value="2@0" />
    <arg name="depth_registration" value="true" />
  </include>

  <!-- Start merging code -->
  <node name="merge_point_clouds" type="merge_point_clouds" pkg="picknik_perception" output="screen" respawn="true" />

</launch>
