<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- GDB Debug Option -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" 
	   value="gdb -x $(find picknik_main)/launch/debug_settings.gdb --ex run --args" />

  <!-- Main process -->
  <node name="perception_server_ddtr_calibrate" pkg="picknik_perception" type="perception_server_ddtr_calibrate" 
	respawn="true" launch-prefix="$(arg launch_prefix)" output="screen">	
  </node>

</launch>
