<launch>

  <!--node pkg="tf" type="static_transform_publisher" name="root_to_world" args="0.5 0 1.0 -1.57 0 0 /world /root 50" /-->
  <node pkg="tf" type="static_transform_publisher" name="root_to_world" args="0.5 0 1.045 1.57 0 0 /world /root 50" />

  <!-- In this demo, we do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <!--rosparam param="/source_list">[/picknik_main/fake_controller_joint_states]</rosparam-->
    <rosparam param="source_list">["/robot/joint_states"]</rosparam>
  </node>
  
  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
    <!--remap from="joint_states" to="/robot/joint_states"/-->
    <remap from="/picknik_main/fake_controller_joint_states" to="joint_states"/>
  </node>

</launch>
